doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    button(onclick="home()") Home
    script.
      function home() {
        window.location.href = '/'
      }
    button(onclick="uploadfile()") Upload File
    script.
      function uploadfile() {
        window.location.href = '/fileupload'
      }
    
    
    block content
